* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw; }

.header {
  background-image: url("../img/tlo.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between; }

.header-box {
  width: 100vw;
  margin-top: 200px; }

.menu {
  position: absolute;
  top: 27%;
  right: 50%;
  transform: translate(50%, 0);
  margin-top: -51px;
  margin-left: auto;
  margin-right: auto;
  width: 652px;
  height: 304px;
  padding: 10px;
  z-index: 1000; }
  .menu.active {
    margin-top: 0;
    height: 367.2px;
    animation: move 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    overflow: hidden; }
    .menu.active .item__link {
      padding-left: 24px;
      transform: translate(-3px, 3px); }
    .menu.active .item {
      width: 182.16px;
      height: 91.8px;
      right: -91.8px; }
      .menu.active .item.active, .menu.active .item:hover {
        background-color: rgba(212, 235, 251, 0.25);
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
        right: 0; }
      .menu.active .item:nth-child(2) {
        top: 91.8px; }
      .menu.active .item:nth-child(3) {
        top: 183.6px; }
      .menu.active .item:nth-child(4) {
        top: 275.4px; }
      .menu.active .item__link {
        height: 91.8px; }
      .menu.active .item__text {
        font-size: 20px; }
      .menu.active .item__icon {
        max-height: 60%;
        padding: 0 16px 0 0; }

@keyframes move {
  100% {
    right: 0;
    transform: translate(0, 0);
    padding: 0;
    max-width: 200px; } }

.item {
  width: 276px;
  opacity: 0.75;
  list-style: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 1s; }
  .item:nth-child(1) {
    top: 0;
    right: 376px; }
  .item:nth-child(2) {
    top: 0;
    right: 0;
    transform: translate(0, 0); }
  .item:nth-child(3) {
    bottom: 0;
    right: 376px; }
  .item:nth-child(4) {
    bottom: 0;
    right: 0; }
  .item__wrapper {
    display: flex; }
  .item__icon {
    max-height: 100%;
    width: auto;
    padding: 0 27px 0 0;
    transition: 1s; }
  .item__text {
    color: white;
    font-size: 32px;
    font-family: Lato;
    font-weight: normal;
    transition: 1s; }
  .item__link {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    height: 102px;
    transition: height 1s; }
  .item__link:hover, .item__link:active {
    transform: translate(3px, -3px); }

.text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-family: Lato;
  font-size: 38px;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 3%;
  opacity: 0; }
  .text.active {
    opacity: 0.75; }

.container {
  position: absolute;
  visibility: hidden;
  opacity: 0; }
  .container.active {
    max-width: 52vw;
    max-height: 35vh;
    top: 27%;
    font-family: Lato;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.36px;
    text-align: justify;
    color: #ffffff;
    animation: container-move 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; }

@keyframes container-move {
  100% {
    transform: translate(17%, 0);
    visibility: visible;
    opacity: 1; } }

.list-box {
  display: flex;
  align-items: center;
  justify-content: center; }

.list {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 427px;
  /* Zmiana na mobilnej wersji */ }

.index {
  font-size: 28px;
  opacity: 0.75;
  font-family: Lato;
  font-weight: normal;
  position: static; }
  .index.active {
    font-size: 40px;
    font-weight: bold;
    opacity: 0.75;
    color: yellow; }

.arrow {
  width: 25px;
  height: 25px;
  opacity: 0.75;
  margin-right: 20px; }
  .arrow__right {
    margin-left: 20px; }

.name {
  display: none; }
  .name.active {
    display: block;
    background-color: red; }
